<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}


.dropdown {
  float: right;
  overflow: hidden;

}

.dropdown .dropbtn {
  font-size: 10px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #006644;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

</style>

<div class="navbar">
<div class="dropdown">
<button class="dropbtn">Book Applied
      <i class="fa fa-caret-down"></i>
    </button>
    
    <div class="dropdown-content">
    <%= link_to('New Book Application', new_book_path) %>
    <%= link_to('Applied Book List', books_path) %>
    </div>
    </div>

  <div class="dropdown">
    <button class="dropbtn"><%=current_user.name.upcase %> 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <%= link_to('My Account', edit_user_registration_path) %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </div>
  </div> 
</div>