<style>
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.approve {
    padding: 9px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 110%;
    border: none;
    float: left;
    background: #fb641b;
    color: #fff;
    margin-left: 14em;
    margin-top: -3.7em;
    font-size: 10px;
}
.header_bck {
    position: fixed;
    top: 0;
    margin-top: 3em !important;
}
.light-table-filter {
    
    
    background-color: #ffffff;
    border-color: white;
    border-style: groove;
}


</style>
<h4>Students List</h4>


    <table class="zui-table">
      <thead>
      <tr>
          <th >Student Id</th>
          <th >Student Name</th>
          <th >Student Email</th>
          <th >Student Designation</th>
          <th>Student Status <select id='filterText'  class="light-table-filter" style='display:inline-block' onclick="Search()">
          <option value='select'>Select a Status</option>
          <option value='active'>Active</option>
          <option value='inactive' >Inactive</option>
        </select></th>
          
        </tr>
      </thead>
      <tbody >
        <% unless @users.blank?
          @users.each do |us| %>
            <tr>
             <td ><%= us.id %></td>
              <td ><%= us.name %></td>
              <td ><%= us.email %></td>
              <td ><%= us.designation %></td>
              <td ><%= us.status %></td>
            </tr> 
          <% end
        end %>
        
      </tbody>
    </table>

